doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/vendor/underscore-min.js')
    
  
  body
    block content
    script(src='/javascripts/modulegraph.js')


    
    
 
